/* Brand Colors */
:root {
    --primary-color: #03375A;
    --secondary-color: #6a8a9e;
    --white: #FFFFFF;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--white);
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 20px 10px;
}

header .logo {
    width: 150px;
    margin: 0 auto;
    display: block;
}

main {
    padding: 20px;
    text-align: center;
}

.intro h2 {
    font-size: 36px; /* Subtitle font */
    color: var(--primary-color);
}

.intro p {
    font-size: 16px; /* Body font */
    color: var(--secondary-color);
}

.hero-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.features h3 {
    font-size: 32px; /* Heading font */
    color: var(--primary-co
